/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******** 
common
********/

.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}

body{
    font-family:sans-serif
}




/*****************
    top 
*****************/

header{
    background-color: #ff6900;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 5;
}

.top{
    max-width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}

#logo{
    justify-content: center;
    align-items: center;    
}

/* link */

.link{
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.link > a:link, .link > a:visited, .link > a:active{
    text-decoration: none;
    color: #ffffff;
}

.link > a:hover{
    text-decoration: underline;
    color: #ffffff;
}


/* Logo */

#logo {
    margin: 10px;
    height: 35px;
}


/*****************
    main
*****************/

main{
    padding: 50px 0;
}

#main-box {
    max-width: 85%;
    margin: 0 auto;
    justify-content: space-between;  
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    width: calc(100% / 3 - 10px);
    flex-shrink: 0;
    gap: 2px;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
}

.col a img {
    width: 100%;
}

.foto-1{
    position: absolute;
}

.foto-1:hover {
    opacity: 0;
}

.marca {
    font-size: small;
}

.articolo{
    text-transform: uppercase;
}

.articolo a, .marca a{
    text-decoration: none;
    color: #000000;
}

.prezzi {
    gap: 10px;
}

.prezzo-scontato{
    color: #ff0000;
}

.prezzo-intero {
    text-decoration: line-through;
}

.sconto {
    position: absolute;
    z-index: 2;
    background-color: #ff0000;
    padding: 2px;
    bottom: 140px;
    color: #ffffff;
}

.etichetta{
    position: absolute;
    z-index: 2;
    background-color: #008000;
    padding: 2px;
    bottom: 140px;
    left: 50px;
    color: #ffffff;
}

#alone {
    left: 0;
}

.cuoricino{
    position: absolute;
    z-index: 2;
    padding: 10px;
    font-size:x-large;
    background-color: #ffffff;
    top: 10px;
    right: 0;
    color: #000000;
}

.cuoricino:hover{
    opacity: 0;
}

.cuoricino-2 {
    position: absolute;
    z-index: 1;
    padding: 10px;
    font-size:x-large;
    background-color: #ffffff;
    top: 10px;
    right: 0;
    color: #ff0000; 
}




/*****************
    footer
*****************/

footer {
    background-color: #1a1a1a;
}

.bot {
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
}

.bot-item{
    flex-direction: column;
    padding: 10px;
}

.list{
    list-style: none;
    gap: 10px;
}

h5{
    color: #ffffff;
}

.list li a{
    font-size: xx-small;
    color: #ffffff;
    text-decoration: none;
}

.bot-item span{
    color: #ffffff;
    font-size: xx-small;
}

#socials a{
    color: #ffffff;
    font-size: small;    
}