/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******** 
common
********/

.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}

body{
    font-family:sans-serif
}




/*****************
    top 
*****************/

/*******
top-1
*******/

header{
    background-color: #ff6900;
    color: #ffffff;
    position: sticky;
    top: 0;
}

.top-1{
    max-width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}

#link, #logo ,#link-2 {
    justify-content: center;
    align-items: center;    
}

/* link */

.link{
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.link > a:link, .link > a:visited, .link > a:active{
    text-decoration: none;
    color: #ffffff;
}

.link > a:hover{
    text-decoration: underline;
    color: #ffffff;
}


/* Logo */

#logo {
    margin: 10px;
    height: 35px;
}